@model IEnumerable<AccountSystem.Web.Models.CreditCardViewModel>

@using AccountSystem.Web.Models
@using AccountSystem.Models

@{
    ViewBag.Title = "Credit card";
    ApplicationUser accountHolder = ViewBag.AccountHolder as ApplicationUser;
}

<div>
    <a href="@Url.Content("~/CreditCard/Create/" + accountHolder.Id)" class="btn btn-primary"><i class="fa fa-plus"></i> New credit card</a>
    <a href="@Url.Content("~/CreditCard/InvalidCards")" class="btn btn-primary"><i class="fa fa-list"></i> Show invalid credit cards</a>
</div>

<div>
    <h3>@accountHolder.UserName credit cards</h3>
    @foreach (CreditCard creditCard in ViewBag.CreditCards)
    {
        <div class="row row-list">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <span id="@creditCard.Id" title="Card number: @creditCard.CardNumber" class="clickable-div" ><i class="fa fa-credit-card"></i> @creditCard.Name</span>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6">
                <a href="@Url.Content("~/CreditCard/Update/" + creditCard.Id)" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="@Url.Content("~/CreditCard/Delete/" + creditCard.Id)" class="deleteBtn" title="Delete"><i class="fa fa-remove"></i></a>
            </div>
        </div>
    }
</div>

<div id="confirm-dialog" title="Confirmation Required">
    <p>Are you sure about this?</p>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $("#confirm-dialog").dialog({
                autoOpen: false,
                modal: true
            });
        });

        $(".deleteBtn").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#confirm-dialog").dialog({
                buttons: {
                    "Delete": function () {
                        window.location.href = targetUrl;
                        $(this).dialog("close");
                    },
                    "Cancel": function (e) {
                        e.preventDefault();
                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "fade",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });

            $("#confirm-dialog").dialog("open");
        });

        $(".clickable-div").click(function () {
            var id = $(this).attr("id");
            $.get("/CreditCard/Info/" + id, function (data) {
                $("#info-dialog #content").html("");
                $.each(data, function (i, item) {
                    $("#info-dialog #content").append("<p><strong>" + i + ":</strong> " + (item == null ? "--" : item) + "</p>");
                });

                $("#info-dialog").dialog("open");
            })
        });
    </script>
}
