@*@model AccountSystem.Web.Models.InvoiceViewModel*@

<div class="invoice">
    <div class="page" id="print-page">

        <div class="row row-print">
            <div class="col-md-8 col-md-8-print">
                <h3>@ViewBag.Model.CompanyName</h3>
            </div>
            <div class="col-md-4 col-md-4-print">
                <h3><strong>INVOICE</strong></h3>
            </div>
        </div>

        <div class="row row-print">
            <div class="col-md-8 col-md-8-print">
                <strong>@ViewBag.Model.FullName</strong>
                <br />
                @ViewData.Model.StreetAddress
                <br />
                @ViewBag.Model.City @ViewBag.Model.Country @ViewBag.Model.Postcode
                <br />
                Phone: @ViewBag.Model.Phone1
            </div>
            <div class="col-md-4 col-md-4-print">
                DATE:
                <br />
                @ViewBag.Model.CreatedOn.ToString("dd/MM/yyyy")
                <br />
                <br />
                INVOICE #: @ViewBag.Model.InvoiceNumber
            </div>
        </div>

        <div class="row row-print">
            <div class="col-md-6 col-md-6-print">
                <br />
                Bill to:
                <br />
                @ViewBag.Model.BillToName
                <br />
                @if (ViewBag.Model.BillToStreetAddress != null)
                {
                    @ViewBag.Model.BillToStreetAddress <br />
                }

                @ViewBag.Model.BillToCity @ViewBag.Model.BillToCountry @ViewBag.Model.BillToPostcode

                @if (ViewBag.Model.BillToPhone != null)
                {
                    <br />
                    @ViewBag.Model.BillToPhone
                }

            </div>
        </div>

        <br />

        <div class="row row-print">
            <table class="col-md-12 table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center col-md-9 col-md-8-print">DESCRIPTION</th>
                        <th class="text-center col-md-3 col-md-4-print">AMOUNT</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="text-right"><strong>TOTAL</strong></td>
                        <td class="text-right"><strong>&pound; @ViewBag.Model.Amount</strong></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>@ViewBag.Model.Description</td>
                        <td class="text-right">&pound; @ViewBag.Model.Amount</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br />

        <div class="row row-print">
            <div class="col-md-12 col-md-12-print">
                If you have any questions concerning this invoice, contact <strong>@ViewBag.Model.FullName, <i class="fa fa-mobile"></i> @ViewBag.Model.Phone1</strong>
            </div>
        </div>

        <br />
        <div class="row row-print">
            <div class="col-md-12 col-md-12-print text-center">
                THANK YOU FOR YOUR BUSINESS!
            </div>
        </div>

    </div>
</div>