@model IEnumerable<AccountSystem.Web.Models.ExpenseViewModel>

@{
    ViewBag.Title = "Expenses";
}

<div>
    <a href="@Url.Content("~/Expenses")" class="btn btn-primary"><i class="fa fa-search"></i> Show active expenses</a>
</div>

<div>
    <h3>List of all deleted expenses</h3>

    <table class="table ">
        <thead>
            <tr>
                <th class="text-left">Payer</th>
                <th class="text-left">Work</th>
                <th class="text-left">Customer</th>
                <th class="text-left">Shop</th>
                <th class="text-center">Date</th>
                <th class="text-center">Receipt No</th>
                <th class="text-right">Total</th>
                <th class="text-right">Shared</th>
                <th class="text-right">Private</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr style="color: @expense.TextColor">
                    <td>
                        @if (expense.IsCreditCardPayment)
                        {
                            <i class="fa fa-credit-card" title="@expense.CreditCardName"></i>
                        }
                        else
                        {
                            <i class="fa fa-money"></i>
                        }
                        @expense.PayerName
                    </td>
                    <td>@expense.WorkName</td>
                    <td>@expense.CustomerName</td>
                    <td>@expense.ShopName</td>
                    <td class="text-center">@expense.CreatedOn.ToShortDateString()</td>
                    <td class="text-center">@expense.ReceiptNumber</td>
                    <td class="text-right"><i class="fa fa-gbp"></i> @expense.Amount</td>
                    <td class="text-right"><i class="fa fa-gbp"></i> @expense.SharedAmount</td>
                    <td class="text-right"><i class="fa fa-gbp"></i> @expense.PrivateAmount</td>
                    <td class="text-center">
                        <a href="@Url.Content("~/Expenses/Restore/" + expense.Id)" class="restoreBtn" title="Restore"><i class="fa fa-refresh"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="confirm-dialog" title="Confirmation Required">
    <p>Are you sure about this?</p>
</div>

<div id="history-dialog" title="History">

</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $("#confirm-dialog").dialog({
                autoOpen: false,
                modal: true
            });

            $("#history-dialog").dialog({
                autoOpen: false,
                height: 300,
                width: 900,
                modal: true,
                //buttons: {
                //    Close: function () {
                //        $(this).dialog("close");
                //    }
                //}
            });

            $("a.history").click(function (e) {
                e.preventDefault();

                $("#history-dialog").dialog("open");

                var expenceId = $(this).attr("id");
                $.get("@Url.Content("~/expenses/history/")" + expenceId, function (result) {
                    $("#history-dialog").html(result);
                });
            });
        });

        $(".restoreBtn").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#confirm-dialog").dialog({
                buttons: {
                    "Restore": function () {
                        window.location.href = targetUrl;
                        $(this).dialog("close");
                    },
                    "Cancel": function (e) {
                        e.preventDefault();
                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "fade",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });

            $("#confirm-dialog").dialog("open");
        });
    </script>
}




