@using AccountSystem.Web.Extentions
@model AccountSystem.Web.Models.ExpenseViewModel

@{
    ViewBag.Title = "Update an expense";
}

<div>
    <a href="@Url.Content("~/Expenses")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
</div>

<div><h3>Update an expense</h3></div>

@using (Html.BeginForm("Update", "Expenses", FormMethod.Post, new { @class = "form-horizontal form-custome" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)

    <div class="control-group">
        @Html.LabelFor(m => m.PayerName, "Payer name", new { @class = "control-label" })
        <div class="controls">
            <div class="ui-widget">
                @Html.DropDownListFor(m => m.PayerName, Model.Payers, "", new { id = "payer-combobox" })
            </div>
            @Html.ValidationMessageFor(m => m.PayerName, "The Payer name field is required.")
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CustomerName, "Customer name", new { @class = "control-label" })
        <div class="controls">
            <div class="ui-widget">
                @Html.DropDownListFor(m => m.CustomerName, Model.Customers, "", new { id = "customer-combobox" })
            </div>
            @Html.ValidationMessageFor(m => m.CustomerName, "The Customer name field is required.")
        </div>
    </div>

    <div class="control-group" id="work-list">
        @Html.LabelFor(m => m.WorkName, "Work name", new { @class = "control-label" })
        <div class="controls">
            <div class="ui-widget">
                @Html.DropDownListFor(m => m.WorkName, Model.Works, "", new { id = "work-combobox" })
            </div>
            @Html.ValidationMessageFor(m => m.WorkName, "The Work name field is required.")
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.ShopName, "Shop name", new { @class = "control-form" })
        <div class="controls">
            <div class="ui-widget">
                @Html.DropDownListFor(m => m.ShopName, Model.Shops, "select shop", new { id = "shop-combobox" })
            </div>
            @Html.ValidationMessageFor(m => m.ShopName, "The Shop name field is required.")
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CreatedOn, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.CreatedOn, " ", new { id = "datepicker" })
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.ReceiptNumber, "Receipt number", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ReceiptNumber)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.Amount)
            @Html.CheckBoxFor(m => m.IsCreditCardPayment) <i class="fa fa-credit-card"></i>
            <span id="creditCard-list">
                @Html.DropDownListFor(m => m.CreditCardId, Model.CreditCards, "", new { id = "creditcard-combobox" })
                @Html.ValidationMessageFor(m => m.CreditCardId)
            </span>
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.SharedAmount, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.SharedAmount)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.PrivateAmount, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.PrivateAmount)
        </div>
    </div>

    <br />
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="@Url.Content("~/Expenses")" class="btn btn-danger">Cancel</a>
        </div>
    </div>
}

<div id="info-dialog" title="Customer information">
    <p id="content"></p>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="~/Scripts/combobox.js"></script>
    <script>
    $(document).ready(function () {
        $("#work-list").hide();
        $("#creditCard-list").hide();

        if ($("#customer-combobox").val() != "") {
            $("#work-list").show();
        }

        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "/content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
        $("#datepicker").datepicker("setDate", "@Model.CreatedOn");

        $("#payer-combobox").combobox();

        $("#customer-combobox").combobox({
            select: function (event, ui) {
                $("#work-combobox").html("");
                var customerId = $("#customer-combobox").val();
                $.get("../GetCustomerWorks/" + customerId, function (result) {
                    var options = "";
                    $.each(result, function (key, value) {
                        options += "<option value=" + value["Value"] + ">" + value["Text"] + "</option>";
                    });
                    $("#work-combobox").append(options);
                });

                $("#work-list").show();
            }
        });

        $.get("../GetCustomerWorks/" + @Model.CustomerName + "", function (result) {
            $("#work-combobox").html("");
            var options = "";
            $.each(result, function (key, value) {
                options += "<option value=" + value["Value"] + ">" + value["Text"] + "</option>";
            });
            $("#work-combobox").append(options);

        });

        $("#work-combobox").combobox();

        $("#shop-combobox").combobox();

        $("#creditcard-combobox").combobox();
        if ($("#IsCreditCardPayment").is(":checked")) {
            $("#creditCard-list").show();
        }
        else {
            $("#creditcard-combobox").val("1");
        }

        $("input[type='checkbox']").change(function () {
            if ($(this).is(":checked")) {
                $(this).nextAll(".fa-credit-card").addClass("color-red");
                $("#creditCard-list").show();
            } else {
                $(this).nextAll(".fa-credit-card").removeClass("color-red");
                $("#creditCard-list").hide();
            }
        });
    });
</script>
}


