@model IEnumerable<AccountSystem.Web.Models.CustomerViewModel>

@{
    ViewBag.Title = "Customers";
}

<div>
    <a href="@Url.Content("~/Customers/Create")" class="btn btn-primary"><i class="fa fa-plus"></i> New Customer</a>
    <a href="@Url.Content("~/Customers/ShowDeleted")" class="btn btn-primary"><i class="fa fa-list"></i> Show list of deleted customers</a>
</div>

<div>
    <h3>List of all customers</h3>
    @foreach (var customer in Model)
    {
        <div class="row row-list">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <span id="@customer.Id" class="clickable-div">@customer.Name</span>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6">
                <a href="@Url.Content("~/Customers/Update/" + customer.Id)" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="@Url.Content("~/Customers/Delete/" + customer.Id)" class="deleteBtn" title="Delete"><i class="fa fa-remove"></i></a>
            </div>
        </div>
    }
</div>

<div id="confirm-dialog" title="Confirmation Required">
    <p>Are you sure about this?</p>
</div>

<div id="info-dialog" title="Customer information">
    <p id="content"></p>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $("#confirm-dialog").dialog({
                autoOpen: false,
                modal: true
            });

            $("#info-dialog").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    Ok: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        });

        $(".deleteBtn").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#confirm-dialog").dialog({
                buttons: {
                    "Delete": function () {
                        window.location.href = targetUrl;
                        $(this).dialog("close");
                    },
                    "Cancel": function (e) {
                        e.preventDefault();
                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "fade",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });

            $("#confirm-dialog").dialog("open");
        });

        $(".clickable-div").click(function (){
            var id = $(this).attr("id");
            $.get("/Customers/Customer/" + id, function (data){
                $("#info-dialog #content").html("");
                $.each(data, function(i, item) {
                    $("#info-dialog #content").append("<p><strong>" + i + ":</strong> " + (item == null ? "--" : item) + "</p>");
                });

                $("#info-dialog").dialog("open");
            })
        });
    </script>
}
