@model IEnumerable<AccountSystem.Web.Models.RevenueViewModel>

@{
    ViewBag.Title = "Revenues";
}

<div>
    <a href="@Url.Content("~/Revenues/Create")" class="btn btn-primary"><i class="fa fa-plus"></i> New Revenue</a>
</div>

<div>
    <h3>List of all revenues</h3>

    <table class="table ">
        <thead>
            <tr>
                <th class="text-left">Recipient</th>
                <th class="text-left">Work</th>
                <th class="text-left">Customer</th>
                <th class="text-center">Date</th>
                <th class="text-right">Amount</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var revenue in Model)
            {
                <tr style="color: @revenue.TextColor">
                    <td>
                        @if (revenue.IsCreditCardPayment)
                        {
                            <i class="fa fa-credit-card" title="@revenue.CreditCardName"></i>
                        }
                        else
                        {
                            <i class="fa fa-money"></i>
                        }
                        @revenue.RecipientName
                    </td>
                    <td>@revenue.WorkName</td>
                    <td>@revenue.CustomerName</td>
                    <td class="text-center">@revenue.CreatedOn.ToShortDateString()</td>
                    <td class="text-right"><i class="fa fa-gbp"></i> @revenue.Amount</td>
                    <td class="text-center">
                        @if (revenue.ParentId != 0)
                        {
                            <a href="#" class="history" id="@revenue.ParentId"><i class="fa fa-history" title="History"></i></a>
                        }
                        <a href="@Url.Content("~/Revenues/Update/" + revenue.Id)" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Content("~/Revenues/Delete/" + revenue.Id)" class="deleteBtn" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div id="confirm-dialog" title="Confirmation Required">
    <p>Are you sure about this?</p>
</div>

<div id="history-dialog" title="History">

</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $("#confirm-dialog").dialog({
                autoOpen: false,
                modal: true
            });

            $("#history-dialog").dialog({
                autoOpen: false,
                height: 300,
                width: 900,
                modal: true,
                //buttons: {
                //    Close: function () {
                //        $(this).dialog("close");
                //    }
                //}
            });

            $("a.history").click(function (e) {
                e.preventDefault();

                $("#history-dialog").dialog("open");

                var expenceId = $(this).attr("id");
                $.get("@Url.Content("~/revenues/history/")" + expenceId, function (result) {
                    $("#history-dialog").html(result);
                });
            });
        });

        $(".deleteBtn").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#confirm-dialog").dialog({
                buttons: {
                    "Delete": function () {
                        window.location.href = targetUrl;
                        $(this).dialog("close");
                    },
                    "Cancel": function (e) {
                        e.preventDefault();
                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "fade",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });

            $("#confirm-dialog").dialog("open");
        });
    </script>
}