@model IEnumerable<AccountSystem.Web.Models.ExpenseViewModel>

<table class="table history">
    <thead>
        <tr>
            <th class="text-left">Modified</th>
            <th class="text-left">On</th>
            <th class="text-left">Payer</th>
            <th class="text-left">Work</th>
            <th class="text-left">Customer</th>
            <th class="text-left">Shop</th>
            <th class="text-center">Date</th>
            <th class="text-center">Receipt No</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Private</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Action</td>
                <td title="@record.ModifiedOn">@record.ModifiedOn.ToShortDateString()</td>
                <td>
                    @if (record.IsCreditCardPayment)
                    {
                        <i class="fa fa-credit-card" title="@record.CreditCardName"></i>
                    }
                    else
                    {
                        <i class="fa fa-money"></i>
                    }
                    @record.PayerName
                </td>
                <td>@record.WorkName</td>
                <td>@record.CustomerName</td>
                <td>@record.ShopName</td>
                <td class="text-center">@record.CreatedOn.ToShortDateString()</td>
                <td class="text-center">@record.ReceiptNumber</td>
                <td class="text-right"><i class="fa fa-gbp"></i> @record.Amount</td>
                <td class="text-right"><i class="fa fa-gbp"></i> @record.PrivateAmount</td>
                <td class="text-center">
                    <a href="@Url.Content("~/Expenses/Restore/" + record.Id)" title="Restore"><i class="fa fa-refresh"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

