@using AccountSystem.Web.Extentions
@using System.Web.Configuration
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["ApplicationName"]</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="@Html.IsSelected(controller : "Revenues")" @*class="active"*@>
                <a href="@Url.Content("~/Revenues")">Revenues</a>
            </li>
            <li class="@Html.IsSelected(controller : "Expenses")">
                <a href="@Url.Content("~/Expenses")">Expenses</a>
            </li>
            <li class="@Html.IsSelected(controller : "Customers")">
                <a href="@Url.Content("~/Customers")">Customers</a>
            </li>
            <li class="@Html.IsSelected(controller : "Shops")">
                <a href="@Url.Content("~/Shops")">Shops</a>
            </li>
            <li class="@Html.IsSelected(controller : "Works")">
                <a href="@Url.Content("~/Works")">Works</a>
            </li>

            <li class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @User.Identity.Name <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Content("~/CreditCard/Index/" + @User.Identity.GetUserId())"><i class="fa fa-credit-card" > Credit card</i></a></li>
                        <li class="divider"></li>
                        <li><a id="logoff" href="#">Logout</a></li>
                        @*<li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>*@
                    </ul>
                </div>
            </li>
            @*<li class="pull-right"><a id="logoff" href="#">Logout</a></li>*@
        </ul>
        <div id="body">
            @RenderBody()
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "logoff_form" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#logoff").click(function () {
            $(".logoff_form").submit();
        });
    </script>
</body>
</html>
