
@model IEnumerable<AccountSystem.Web.Models.RevenueViewModel>

<table class="table history">
    <thead>
        <tr>
            <th class="text-left">Modified</th>
            <th class="text-left">By</th>
            <th class="text-left">On</th>
            <th class="text-left">Recipient</th>
            <th class="text-left">Work</th>
            <th class="text-left">Customer</th>
            <th class="text-center">Date</th>
            <th class="text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Action</td>
                <td>@record.Author</td>
                <td title="@record.ModifiedOn">@record.ModifiedOn.ToShortDateString()</td>
                <td>
                    @if (record.IsCreditCardPayment)
                    {
                        <i class="fa fa-credit-card" title="@record.CreditCardName"></i>
                    }
                    else
                    {
                        <i class="fa fa-money"></i>
                    }
                    @record.RecipientName
                </td>
                <td>@record.WorkName</td>
                <td>@record.CustomerName</td>
                <td class="text-center">@record.CreatedOn.ToShortDateString()</td>
                <td class="text-right"><i class="fa fa-gbp"></i> @record.Amount</td>
            </tr>
        }
    </tbody>
</table>

